.accordion__item{
    border-bottom: 1px solid rgba(128, 128, 128, 0.3);
}
.accordion__question_wrapper{
    display: flex;
    justify-content: space-between;
    padding: 26px 0;
}

.accordion__answer{
    padding-bottom: 26px;
}

.accordion__button{
    background: none;
    border: none;
    cursor: pointer;
}
