.footer{
  background-color: #1D2939;
  color: white;
  &__wrapper{
    max-width: 1280px;
    margin: 0 auto;
    padding: 24px ;

  }
  &__top{
    display: flex;
    justify-content: space-between;
    padding: 58px 0;
    border-bottom: 1px solid gray;
    margin-bottom: 58px;
  }
  &__input_subtitle{
    color: #98A2B3;
  }
}

.footer__input_section{
  input{
    width: 40%;
    padding: 8px 24px;
    border-radius: 8px;
    border: none;
    text-decoration: none;
    outline: none;
    margin-right: 12px;
  }
  button{
    padding: 8px 24px;
    border: none;
    text-decoration: none;
    border-radius: 8px;
    background-color: #7F56D9;
    color: white;
    cursor: pointer;
  }
}

.footer__categories{
  margin-bottom: 58px;
}

.footer__categories_list{
  display: flex;
  justify-content: space-between;
}

//.footer__categories_items{
//  display: flex;
//  justify-content: space-between;
//
//}

.footer__categories_list{
  display: flex;
}

.footer__categories_title{
  color: #98A2B3;
  margin-bottom: 24px;
}

.footer__categories_items{
  display: flex;
  flex-direction: column;
}
.footer__categories_links{
  color: #F2F4F7;
  margin-bottom: 8px;
}

.footer__signature{
  color: #667085;
}
